{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-typescript",
      {
        "allowDeclareFields": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "minify": true,
        "transpileTemplateLiterals": true,
        "pure": true
      }
    ],
    "@babel/plugin-transform-typescript",
    "@babel/plugin-proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
