@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import './reset';

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;

  @media (min-width: 600px) and (orientation: landscape) {
    overscroll-behavior: none;
  }
}

#root {
  display: contents;
}
